
main {
	max-width: 99vw;
  max-height: 100vh;
}
:root {
  --primary: #42cafd;
  --secondary: #063f6c;
  --tertiary: #ee5622;
  --light: #f2e9dc;
  --dark: #231c07;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--darker);
  color: var(--dark);
  font-family: 'Poiret One', cursive;

}

header h1 {
  font-weight: bold;
  font-size: 20px;
  color:white;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/*.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./assets/images/react-js-banner.png");
  position: relative;
  width: 100vw;
  opacity: 80%;
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}*/


header {
  background: #05061f;
  opacity: 80%;
}

header a {
  color: var(--primary);
}

header h2{
  margin-left: 16%;
  margin-right: 24%;
}

header h2 a span{
  color: #0000ff;
}

header h2 a{
  color: white;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.formCont {
  position: relative;
  height:50vh;
  width: 30vw;
  display: block;
  background: #cccccc;
  filter: opacity(80%);
  border: 5px solid var(--primary);
  margin-left: 33%;
  margin-top: 120px;
  text-align: center;
  padding: .5rem;
  min-height: 430px;
  min-width: 400px;
}
  

#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  position: absolute;
}

#contactMessage{
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  position: absolute;
  min-height: 400px;
  min-width: 450px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 400px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.mainCont{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
  margin-top: 25px;
  height: 100%;
}

.aboutContentCont {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  margin: 6%;
  flex-direction: column;
  

  
}

.contentCont {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px;
  align-items: center;
  justify-content: center;
  
}

.about{
  margin-bottom: 5%;
  color: var(--primary);
  font-size: 5rem;
}

#type{
  color: whitesmoke;
  font-size: 2rem;
}

.primary{
  color: var(--primary);
}

.profilePic{
  border-radius: 50%;
  margin: 20% -30%;
  width: 50%;
  height: auto;
  min-width: 400px;
  max-height: 400px;


  /*filter: drop-shadow(10px 10px 10px var(--primary));*/
}

#about{
  font-size: 5rem;
  color: var(--primary);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.img-thumbnail {
  width: 20rem;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 100%;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}

.projectCard img{
    max-width: 300px;
    min-height: fit-content;
    margin: 10px;
    border-radius: 10%;
}

.projectCard img:hover{
    filter: contrast(200%) brightness(150%) drop-shadow(8px 8px 10px var(--primary)) ;
    transform: scale(1);
    transition: .25s ease-in-out;
    -webkit-transform: scale(1);
}

.skillsCont{
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
  margin-top: 25px;
  height: 100%;
}

.resumeCard {
  border: 1px solid black;
  flex-direction: column;
  display: flex;
  border-radius: 15%;
  width: 300px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: var(--primary);
}

.resumeCard h3{
  margin-top: 10%;
  margin-bottom: 10%;
}

.center{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
